*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  outline: none;
}

.texts h1, .top h1 {
  font-size: 2.8125rem;
  line-height: 1.125em;
  color: #1f1346;
}
@media screen and (max-width: 768px) {
  .texts h1, .top h1 {
    font-size: 2.1875rem;
  }
}
@media screen and (max-width: 425px) {
  .texts h1, .top h1 {
    font-size: 2rem;
  }
}

body {
  font-family: poppins, sans-serif;
  /*   color: v.$main-color; */
}

.nav__links a {
  text-transform: capitalize;
  font-weight: 600;
}

.texts p {
  color: #6a6a6a;
}

.top h1 {
  text-align: center;
}

.card h2 {
  text-transform: capitalize;
  color: #272727;
}
.card p {
  color: #6a6a6a;
}

@media screen and (max-width: 425px) {
  .texts p {
    width: 80%;
    margin: 0.3125rem auto;
  }
}

form {
  text-transform: capitalize;
}
form input {
  font-size: 1.125rem;
}
form textarea {
  font-size: 1.125rem;
  font-family: poppins, serif;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0.625rem 3.75rem;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 2.5rem;
}
@media screen and (max-width: 768px) {
  .nav {
    flex-direction: column;
    padding: 0 1.25rem;
    margin-bottom: 4.375rem;
  }
}
.nav__logo {
  cursor: pointer;
}
.nav__logo img {
  height: 50px;
}
@media screen and (max-width: 768px) {
  .nav__logo img {
    height: 80px;
  }
}
@media screen and (max-width: 425px) {
  .nav__logo img {
    height: 60px;
  }
}
@media screen and (max-width: 768px) {
  .nav__links {
    width: 100%;
    text-align: center;
    margin: 0.625rem;
  }
}
@media screen and (max-width: 425px) {
  .nav__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 0 0 0.625rem 0;
  }
}
.nav__links a {
  margin: 1.25rem;
  position: relative;
  transition: color 300ms ease-in-out;
  color: #272727;
}
@media screen and (max-width: 768px) {
  .nav__links a {
    margin: 0.625rem;
  }
}
.nav__links a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  height: 2px;
  width: 100%;
  background-color: #7e42f9;
  transform: scale(0);
  transform-origin: left;
  transition: transform 300ms ease-in-out;
}
.nav__links a:hover {
  color: #7e42f9;
}
.nav__links a:hover::after {
  transform: scale(1);
}
.nav__links span {
  border: 2px solid #7e42f9;
  margin-left: 2.5em;
  padding: 0.625rem 0.3125rem;
  border-radius: 0.3125rem;
}
@media screen and (max-width: 768px) {
  .nav__links span {
    margin-left: 1.875em;
    padding: 0.3125rem 0.0625rem;
  }
}
@media screen and (max-width: 425px) {
  .nav__links span {
    margin: 0.625rem 0 0 0.3125rem;
  }
}
.nav__links span a {
  color: #7e42f9;
}

svg {
  position: relative;
  bottom: 0;
  top: 28px;
}
@media screen and (max-width: 768px) {
  svg {
    top: 20px;
  }
}
@media screen and (max-width: 425px) {
  svg {
    top: 15px;
  }
}

.footer {
  background-color: #7e42f9;
  color: #f8f8f8;
}
@media screen and (max-width: 425px) {
  .footer {
    width: 100%;
  }
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 90%;
  margin: 0 auto;
  padding: 0 3.75rem;
  padding-bottom: 1.875rem;
}
@media screen and (max-width: 425px) {
  .footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 0.625rem 2.5rem;
  }
}
.footer__logo {
  width: 40%;
}
@media screen and (max-width: 768px) {
  .footer__logo {
    margin-top: 2.5rem;
  }
}
@media screen and (max-width: 425px) {
  .footer__logo {
    width: 100%;
    margin-bottom: 1.875rem;
    text-align: center;
  }
}
.footer__logo img {
  cursor: pointer;
  height: 50px;
}
.footer__links {
  width: 45%;
  margin-top: 1.25rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .footer__links {
    width: 50%;
    justify-content: space-around;
  }
}
@media screen and (max-width: 425px) {
  .footer__links {
    width: 100%;
    margin: 0;
  }
}
@media screen and (max-width: 375px) {
  .footer__links {
    justify-content: space-between;
  }
}
.footer__links a {
  margin: 0.3125rem;
  position: relative;
  display: inline-block;
  color: #f8f8f8;
}
.footer__links a::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  display: block;
  height: 2px;
  width: 100%;
  background-color: #fff;
  transform: scale(0);
  transform-origin: left;
  transition: transform 300ms ease-in-out;
}
.footer__links a:hover::after {
  transform: scale(1);
}
.footer__links h3 {
  margin-bottom: 0.625rem;
}

.card {
  width: 20%;
  margin: 0 3.125em;
  padding: 0.625rem;
  position: relative;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .card {
    width: 50%;
    margin: 1.5625rem 0.9375em;
  }
}
@media screen and (max-width: 425px) {
  .card {
    width: 80%;
    margin: 1.25rem 0;
  }
}
.card img {
  margin-bottom: 0.4375rem;
  height: 7.5rem;
  background-color: #f6f3fd;
  padding: 1.25em;
  border-radius: 6.25rem;
}
.card h2 {
  margin-bottom: 0.625rem;
}
.card::before {
  content: "";
  position: absolute;
  bottom: 0.03125rem;
  left: 0;
  display: block;
  border-radius: 0.625rem;
  height: 3px;
  width: 100%;
  background-color: #7e42f9;
  transform: scale(0);
  transform-origin: left;
  transition: transform 300ms ease-in-out 0.2s;
}
.card:hover::before {
  transform: scale(1);
}
.card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0.9375rem 0.9375rem 0 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #f6f3fd;
  transition: all 300ms ease-in-out;
}
.card:hover::after {
  opacity: 1;
}

form {
  width: 60%;
  margin: 0 auto;
  border-radius: 0.625rem;
  padding: 1.25rem;
  background-color: #fff;
}
@media screen and (max-width: 425px) {
  form {
    width: 80%;
  }
}
form .labels {
  float: left;
  width: 50%;
}
@media screen and (max-width: 768px) {
  form .labels {
    float: both;
    width: 100%;
  }
}
form .textarea {
  float: right;
  width: 50%;
}
@media screen and (max-width: 768px) {
  form .textarea {
    float: both;
    width: 100%;
  }
}
form .submits {
  clear: both;
  margin-top: 0rem;
}
form label {
  display: block;
  margin-bottom: 0.5rem;
}
form input[type=name],
form input[type=email],
form input[type=tel] {
  display: block;
  border-radius: 0.3125rem;
  border: 2px solid #bababa;
  background-color: #f6f3fd;
  width: 90%;
  height: 2.375rem;
  padding: 0.3125rem;
  margin-bottom: 1.25rem;
  transition: all 300ms ease-in-out;
}
@media screen and (max-width: 768px) {
  form input[type=name],
form input[type=email],
form input[type=tel] {
    width: 100%;
  }
}
form input[type=name]:hover,
form input[type=email]:hover,
form input[type=tel]:hover {
  background-color: #fff;
}
form input[type=name]:focus,
form input[type=email]:focus,
form input[type=tel]:focus {
  border: 2px solid #7e42f9;
  box-shadow: 0 0 15px #a073fb;
}
form textarea {
  resize: none;
  height: 14.0625rem;
  width: 100%;
  border: 2px solid #bababa;
  padding: 0.3125rem;
  border-radius: 0.3125rem;
  transition: all 300ms ease-in-out;
  background-color: #f6f3fd;
}
form textarea:hover {
  background-color: #fff;
}
form textarea:focus {
  border: 2px solid #7e42f9;
}
form textarea:focus {
  border: 2px solid #7e42f9;
  box-shadow: 0 0 15px #a073fb;
}
form input[type=submit] {
  border: none;
  padding: 0.9375rem;
  margin: 0.9375rem 35%;
}
@media screen and (max-width: 768px) {
  form input[type=submit] {
    margin: 0.9375rem 29%;
  }
}
@media screen and (max-width: 425px) {
  form input[type=submit] {
    margin: 0.9375rem -3%;
  }
}
@media screen and (max-width: 375px) {
  form input[type=submit] {
    margin: 0.9375rem -6%;
  }
}
form input[type=submit]:hover {
  background-color: none;
  box-shadow: 0 0 10px black;
}

.btn {
  width: 11.25rem;
  letter-spacing: 0.03125rem;
  background-color: #7e42f9;
  padding: 0.625rem;
  margin-top: 1.875rem;
  border-radius: 0.3125em;
  color: white;
  text-transform: capitalize;
  text-align: center;
  cursor: pointer;
  position: relative;
}
@media screen and (max-width: 425px) {
  .btn {
    left: 23%;
  }
}
@media screen and (max-width: 375px) {
  .btn {
    left: 20%;
  }
}
@media screen and (max-width: 320px) {
  .btn {
    left: 15%;
  }
}
.btn a {
  color: #fff;
}
.btn::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 0.3125em;
  z-index: -1;
  box-shadow: 0 5px 10px rgba(18, 18, 18, 0.7);
  opacity: 0;
  transition: 300ms ease-in-out;
}
.btn:hover::before {
  opacity: 1;
}

.lien {
  letter-spacing: 0.0625rem;
  transition: all 300ms ease-in-out;
}
@media screen and (max-width: 768px) {
  .lien {
    transform: translateX(13.125rem);
  }
}
@media screen and (max-width: 425px) {
  .lien {
    transform: translateX(0);
  }
}
@media screen and (max-width: 375px) {
  .lien {
    transform: translateX(0.3125rem);
  }
}

.lien:hover {
  letter-spacing: 0.3125rem;
}

.submits input {
  transition: 300ms ease-in-out;
}
.submits input:hover {
  letter-spacing: 0.125rem;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  border-radius: 5px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4);
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #7e42f9;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #a073fb;
}
::-webkit-scrollbar-thumb:active {
  background-color: #5c11f7;
}

.section_1 {
  background-image: url(./bg.png);
  background-size: cover;
  background-position: center;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 81%;
  margin: 0 auto;
}
@media screen and (max-width: 425px) {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
  }
}
.container .texts {
  width: 34%;
  margin-bottom: 4.375rem;
}
@media screen and (max-width: 768px) {
  .container .texts {
    width: 40%;
    margin-left: 1.25rem;
  }
}
@media screen and (max-width: 425px) {
  .container .texts {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 4.375rem;
  }
}
.container .texts p {
  margin: 0.9375rem 0;
  color: #6a6a6a;
}
@media screen and (max-width: 425px) {
  .container .texts p {
    width: 70%;
    margin: 0.9375rem auto;
  }
}
.container .imgs img {
  height: 34.375rem;
  margin-right: 7.5rem;
  padding-bottom: 1.875rem;
}
@media screen and (max-width: 1024px) {
  .container .imgs img {
    margin-right: 3.75rem;
  }
}
@media screen and (max-width: 768px) {
  .container .imgs img {
    height: 28.125rem;
    margin-right: 0;
  }
}

.section_2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  margin-top: 1.25rem;
}
.section_2 h1 {
  padding: 0.625rem;
  margin-bottom: 3.125rem;
}
@media screen and (max-width: 768px) {
  .section_2 h1 {
    margin-bottom: 1.875rem;
  }
}
@media screen and (max-width: 425px) {
  .section_2 h1 {
    margin-bottom: 1.875rem;
  }
}

.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: center;
}
@media screen and (max-width: 425px) {
  .bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.section_3,
.section_4 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 80%;
  margin: 2.5rem auto;
}
@media screen and (max-width: 768px) {
  .section_3,
.section_4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    text-align: center;
  }
}
.section_3 .imgs img,
.section_4 .imgs img {
  height: 500px;
  margin-right: 0.625rem;
}
@media screen and (max-width: 1024px) {
  .section_3 .imgs img,
.section_4 .imgs img {
    height: 400px;
  }
}
@media screen and (max-width: 768px) {
  .section_3 .imgs img,
.section_4 .imgs img {
    height: 350px;
    margin: 0;
  }
}
@media screen and (max-width: 425px) {
  .section_3 .imgs img,
.section_4 .imgs img {
    height: 270px;
  }
}
@media screen and (max-width: 375px) {
  .section_3 .imgs img,
.section_4 .imgs img {
    height: 200px;
  }
}
@media screen and (max-width: 768px) {
  .section_3 .texts,
.section_4 .texts {
    margin-bottom: 1.875rem;
  }
}
.section_3 .texts h1,
.section_4 .texts h1 {
  margin-bottom: 1.25rem;
  padding-right: 0.625rem;
}
.section_3 .texts p,
.section_4 .texts p {
  width: 90%;
}
@media screen and (max-width: 768px) {
  .section_3 .texts p,
.section_4 .texts p {
    width: 80%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 425px) {
  .section_3 .texts p,
.section_4 .texts p {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .section_4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
}
.section_4 .imgs img {
  margin-left: 0.625rem;
}
@media screen and (max-width: 1024px) {
  .section_4 .imgs img {
    margin-left: 0.625rem;
  }
}
.section_4 .imgs .texts {
  width: 80%;
}

.section_5 {
  background-color: #f6f3fd;
  padding: 3.125rem 0 0 0;
}
.section_5 .texts {
  text-align: center;
  margin-bottom: 1.875rem;
}

/*# sourceMappingURL=style.css.map */
